.Container {
    /* padding: 16px; */
    margin: 10px 0
  }
  
  .Container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .Container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .Container span {
    font-size: 12px;
    margin: 0 10px 0 0;
  }
  .Container p {
    font-size: 12px;
    color: rgb(105, 98, 98);
  }
  
  @media (max-width: 500px) {
    .Container {
        text-align: left;
    }
    .Container img {
        margin: auto;
        float: none;
        display: block;
    }
  }

.RoundLine {
    border: 2px solid teal;
    padding: 5px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
  }
  .bookmark {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black; 
    margin: 0 auto; 
    cursor: pointer; 
   }
   
   .bookmark--green {
    background-color: green; 
   }