.article {
    /* border-style: solid;
    border-color:forestgreen; */
    margin: 4px;
    width: 48%;
    display: flex;
    flex-flow: row wrap;
    /* width: 50%; */
}



a {
    color: black;
    text-decoration: none;

}

img.image {
    align-self: center;
    object-fit: cover;
}

.article-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
    align-content: space-between;
    height:auto;
    max-width: 55%;
    /* max-height:  */
    /* max-height: 15rem; */
    /* border-style:ridge;
    border-color: #FF00FF */
}

img.sub-article {
    width: 100%;
    height: 20%;
}

a.sub-article {
    width: 32%;
    /* color: red; */
    /* flex-flow:  */
}

.article-info.sub-article {
    max-width:100%;
    height:auto;
    /* border-style:ridge;
    border-color: red; */
    /* align-content: flex-start;
    align-items: flex-start; */
    justify-content: flex-start;
}
