.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card
{
  width: 150px;
  padding: 10px;
	//border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	color:black;
	margin: 3px;
}

.b {
  font-weight: bold;
}

.article{
  width: 66%;
  //height: 320px;
  padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	//border-radius: 10px;
	color:black;
	margin: 3px;
}

.author-image {
  border-radius: 50%;
  width: 50px;
  display: block;
  padding-right:3px;
  padding-top: 3px;
}

.article-image {
  width: 65%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
