.ArticleContainer {
    width: 100%;
}

.ArticleContainer__header {
    padding-bottom: 1em;
    margin-left: 10px;
    border-bottom: 2px solid lightgrey;
}


.ArticleContainer__articles {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.ArticleContainer--for-you .Article {
    width: 45%;
}

.ArticleContainer--missed .Article {
    width: 30%;
    flex-direction: column;
}

.ArticleContainer--missed .Article__main-image {
    width: 100%;
    height: 150px;
}