.footerColumn {
  float: left;
  width: 15%;
  margin-right: 13px;
}

.footerColumn2 {
  float: left;
  width: 65%;
}

.footerColumn3 {
  float: right;
  width: 8%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 8pt;
}