.column {
  float: left;
  width: 40%;
  margin-right: 13px;
}

.column2 {
  /* float: left; */
  width: 54%;
  display: inline-block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  /* position: absolute;  */
  /* bottom: 0; */
  /* width: 100%; */
  /* display: inline-block;
  vertical-align: bottom; */
}
