.App {
  text-align: left;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: #343434;
  max-width:1200px;
  width:100%;
  margin: 20px;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid  #e5e5e5;
  padding:15px;
}
.card {
  border: 1px solid #e5e5e5;
  width: 300px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
}
.image-holder {
  width: 50%;
  height: 100%;
  max-height: 300px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.card img {
 height:100%;
}
.metadata{
  display:flex;
  align-content: flex-end;
}
p {
 font-size: 12px; 

}

h1 {
  font-size: 1rem; 
}

h2 {
  font-size: 18px;
  border-bottom: 1px black solid;
  padding-bottom: 15px;
  display: inline-block;
  margin-bottom:0;
  font-weight: 600;
  letter-spacing: -0.17px;
  line-height: 20px;
  color: rgba(0,0,0,.84);
}

.App-link {
  color: #61dafb;
}

.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  padding: 0;
  border: 0;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
  white-space: nowrap;
  }